* { box-sizing: border-box; }

body {
    margin: 0;
}

.parent {
    background-color: #23424A;
    padding: 50px;
    /* width: 900px; */
    width: 80%;
    margin: 0 auto;
}

.child {
    background-color: #38CFD9;
    /* normaly I wouldn't include a height it's just to get us started */
    height: 250px;
}