* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.parent {
    background-color: #23424A;
    padding: 50px;
    width: 80%;
    margin: 0 auto;
    /* overflow: hidden; */
}

.child {
    background-color: #38CFD9;
    /* width: 750px; */
    width: 50%;
    /* height: 250px; */
}