* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    background-color: #23424A;
    color: white;

    width: 80%;
    margin: 0 auto;

    /* height: 300px; */
    padding: 5em; 
    /* 16 * 5 = 80px */
}